extends /layout

block vars
  - var episode = mvb.article
  - var mp3Url = h.assetPath("mp3s/" + episode.mp3)

block title
  title
    = episode.title
    if episode.subtitle
      = " – "
      = episode.subtitle

block meta
  meta(name="description" content=h.article.description(episode))
  if episode.tags
    meta(name="keywords" content=h.article.keywords(episode))

block alternate
  link(href=h.assetPath("podcast.xml") rel="alternate" type="application/rss+xml")

block header
  header.header.header--podcast
    h1.title Podcast

block main
  section
    .wrap.single
      article.episode
        header.episode__header
          hgroup
            h2.episode__title [#{episode.shortId}] #{episode.title}
            if episode.subtitle
              h3.episode__subtitle= episode.subtitle
        .episode__player
          img.episode__image(src=h.podcastImage(episode.imageDir, 320))
          audio.episode__audio(controls="controls")
            source(src=mp3Url type="audio/mpeg")
        .episode__content!= episode.content
        footer.episode__footer
          p.episode__meta
            span Veröffentlicht am
            | &nbsp;
            time.episode__date= h.dateFormat.german(episode.date)
          .episode__nav
            - prevEpisode = episode.previousArticle
            - nextEpisode = episode.nextArticle
            h3.episode__nav__title Weitere Episoden
            ul
              for e in [nextEpisode, prevEpisode]
                if e
                  li
                    a.episode__link(href=e.permalink)
                      span.episode__shortId [#{e.shortId}]
                      | &nbsp;
                      span.episode__title= e.title
