extends /layout

block vars
  - var episode = mvb.article
  - var title = episode.title + (episode.subtitle ? ": " + episode.subtitle : "") + " • UI engineering Podcast"
  - var imageSize = 320
  - var imagePath = h.podcastImageUrl(episode.imageDir, imageSize)
  - var mp3Path = h.assetUrl("mp3s/" + episode.mp3)
  - var podcastFeedPath = "/podcast.xml"

block title
  title= title

block meta
  meta(name="description" content=h.article.description(episode))
  if episode.tags
    meta(name="keywords" content=h.article.keywords(episode))

block og
  meta(property="og:image" content=h.siteUrl(imagePath))
  meta(property="og:image:width" content=imageSize)
  meta(property="og:image:height" content=imageSize)

block alternate
  link(href=podcastFeedPath rel="alternate" type="application/rss+xml")

block header
  header.header.header--podcast
    h1.title Podcast

block main
  section
    .wrap.single
      article.episode
        header.episode__header
          hgroup
            h2.episode__title [#{episode.shortId}] #{episode.title}
            if episode.subtitle
              h3.episode__subtitle= episode.subtitle
        .episode__player
          img.episode__image(alt=title src=imagePath srcset=`${h.podcastImageUrl(episode.imageDir, 640)} 2x`)
          audio.episode__audio(controls="controls")
            source(src=mp3Path type="audio/mpeg")
        .episode__content!= episode.content
        footer.episode__footer
          p.episode__meta
            span Veröffentlicht am
            time.episode__date= h.dateFormat.german(episode.date)
          .episode__nav
            - prevEpisode = episode.previousArticle
            - nextEpisode = episode.nextArticle
            h3.episode__nav__title Weitere Episoden
            ul
              for e in [nextEpisode, prevEpisode]
                if e
                  li
                    a.episode__link(href=e.permalink)
                      span.episode__shortId [#{e.shortId}]
                      | &nbsp;
                      span.episode__title= e.title
