extends ../templates/page.pug

include /episode/episode.pug

block vars
  - const episode = mvb.article
  - const title = episode.title + (episode.subtitle ? `: ${episode.subtitle}` : '') + " • UI engineering Podcast"
  - const description = h.article.description(episode)
  - const imageSize = 320
  - const imagePath = h.podcastImageUrl(episode.imageDir, imageSize)
  - const mp3Path = h.assetUrl("mp3s/" + episode.mp3)
  - const header = { title: "Podcast", type: "podcast" }

block meta
  meta(property="og:type" content="article")
  meta(property="og:url" content=h.siteUrl(episode.permalink, "https"))
  meta(property="og:title" content=title)
  meta(property="og:description" content=description)
  meta(property="og:image" content=h.enforceScheme("http", imagePath))
  meta(property="og:image:secure_url" content=h.enforceScheme("https", imagePath))
  meta(property="og:image:width" content=imageSize)
  meta(property="og:image:height" content=imageSize)
  meta(property="og:audio" content=h.enforceScheme("http", mp3Path))
  meta(property="og:audio:secure_url" content=h.enforceScheme("https", mp3Path))
  meta(property="og:audio:type" content="audio/mpeg")
  meta(property="article:section" content="Technology")
  meta(property="article:published_time" content=h.dateFormat.iso8601(episode.date))
  meta(property="article:author" content="https://www.facebook.com/janpersiel")
  meta(property="article:author" content="https://www.facebook.com/profile.php?id=100008783506280")
  meta(name="description" content=description)
  if episode.tags
    meta(name="keywords" content=h.article.keywords(episode))
    for tag in episode.tags
      meta(property="article:tag" content=tag)
  link(href="/podcast.xml" rel="alternate" type="application/rss+xml")

block main
  +episode(episode)
