mixin episode(a)
  - var imageUrl = a.imageDir ? h.baseUrl(h.podcastImage(a.imageDir, 2000), true) : null
  - var mp3Url = a.mp3 ? h.baseUrl("/mp3s/" + a.mp3, true) : null
  if mp3Url
    item
      guid(isPermaLink="false")= a.shortId
      title [#{a.shortId}] #{a.title}
      pubDate= h.dateFormat.rfc822(a.date)
      enclosure(url=mp3Url length=a.mp3Bytes type="audio/mpeg")
      description= a.description ? a.description : a.content
      if imageUrl
        itunes:image(href=imageUrl)
      if a.duration
        itunes:duration= a.duration
      if a.subtitle
        itunes:subtitle= a.subtitle
      if a.tags
        itunes:keywords= h.article.keywords(a)
