include _episode

- var episodes = mvb.articles
- var podcastsUrl = h.siteUrl("podcast.html", "http")
- var lastUpdate = h.articles.lastUpdate(episodes)
- var title = "UI engineering Podcast"
- var names = "Jan Persiel und Dennis Reimann"
- var email = "mail@uiengineering.de"
- var description = "Wir, das sind Dennis Reimann und Jan Persiel, setzen uns dafür ein, durch die enge Zusammenarbeit von Design und Entwicklung schneller bessere und nachhaltigere Ergebnisse zu erzielen. Im UI engineering Podcast geht es um Best Practices, Workflows und Tools die zu einem besseren Miteinander von Design und Entwicklung beitragen. Impressum: http://www.uiengineering.de/kontakt.html"

doctype xml
rss(xmlns:atom="http://www.w3.org/2005/Atom" xmlns:media="http://search.yahoo.com/mrss/" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:creativeCommons="http://backend.userland.com/creativeCommonsRssModule" xmlns:sy="http://purl.org/rss/1.0/modules/syndication/" version="2.0")
  channel
    atom:link(href=h.siteUrl("podcast.xml") type="application/rss+xml" rel="self")
    sy:updatePeriod weekly
    sy:updateFrequency 1
    ttl 720
    title= title
    link= podcastsUrl
    generator UI engineering Podcast Feed Generator v1.0.0
    docs http://blogs.law.harvard.edu/tech/rss
    language de-DE
    copyright= names
    lastBuildDate= h.dateFormat.rfc822(lastUpdate)
    pubDate= h.dateFormat.rfc822(lastUpdate)
    description= description
    managingEditor #{email} (#{names})
    webMaster #{email} (#{names})
    image
      title= title
      url= h.enforceScheme("http", h.podcastImageUrl("cover", 640))
      link= podcastsUrl
    itunes:author= names
    itunes:summary= description
    itunes:keywords uiengineering,UI engineering,Design,Development,Software,Entwicklung,Gestaltung,Interface,Web,Frontend,Responsive,JavaScript,JS,Elm,CSS,HTML,Mobile,PatternLab,Pattern Library,Styleguide,Styletiles
    itunes:explicit clean
    itunes:category(text="Technology")
    itunes:owner
      itunes:name= names
      itunes:email= email
    itunes:image(href=h.enforceScheme("http", h.podcastImageUrl("cover", 3000)))
    for e in episodes
      +episode(e, h)
