include /section/section

mixin episode(episode)
  +section(true)
    article.episode
      +episodeHeader(episode)
      +episodeMain(episode)
      +episodeFooter(episode)

mixin episodeHeader(episode)
  header.episode__header
    hgroup
      h2.episode__title [#{episode.shortId}] #{episode.title}
      if episode.subtitle
        h3.episode__subtitle= episode.subtitle

mixin episodeMain(episode)
  - const title = episode.title + (episode.subtitle ? `: ${episode.subtitle}` : '') + " • UI engineering Podcast"
  - const imgSize = 320
  - const imgSmall = h.podcastImageUrl(episode.imageDir, imgSize)
  - const imgLarge = h.podcastImageUrl(episode.imageDir, imgSize)
  .episode__player
    img.episode__image(alt=title src=imgSmall srcset=`${imgLarge} 2x`)
    audio.episode__audio(controls="controls")
      source(src=h.assetUrl(`mp3s/${episode.mp3}`) type="audio/mpeg")
  .episode__content!= episode.content

mixin episodeFooter(episode)
  footer.episode__footer
    p.episode__meta
      span Veröffentlicht am
      | &nbsp;
      time.episode__date= h.dateFormat.german(episode.date)
    +episodeNav(episode)

mixin episodeNav(episode)
  - const prevEpisode = episode.previousArticle
  - const nextEpisode = episode.nextArticle
  if prevEpisode || nextEpisode
    .episode__nav
      h3.episode__nav__title Weitere Episoden
      ul
        for e in [nextEpisode, prevEpisode]
          if e
            li
              a.episode__link(href=e.permalink)
                span.episode__shortId [#{e.shortId}]
                | &nbsp;
                span.episode__title= e.title
