include /player/player.pug
include /section/section.pug

mixin episode(episode)
  +section(true)
    article.episode
      +__episodeHeader(episode)
      +__episodeMain(episode)
      +__episodeFooter(episode)

mixin __episodeHeader(episode)
  header.episode__header
    hgroup
      h2.episode__title [#{episode.shortId}] #{episode.title}
      if episode.subtitle
        h3.episode__subtitle= episode.subtitle

mixin __episodeMain(episode)
  .episode__player: +player(episode)
  .episode__content!= episode.content

mixin __episodeFooter(episode)
  footer.episode__footer
    p.episode__meta
      span Veröffentlicht am
      time.episode__date= h.dateFormat.german(episode.date)
    +__episodeNav(episode)

mixin __episodeNav(episode)
  - const prevEpisode = episode.previousArticle
  - const nextEpisode = episode.nextArticle
  if prevEpisode || nextEpisode
    .episode__nav
      h3.episode__navtitle Weitere Episoden
      ul
        for e in [nextEpisode, prevEpisode]
          if e
            li
              a.episode__link(href=e.permalink)
                span.episode__shortId [#{e.shortId}]
                | &nbsp;
                span.episode__title= e.title
