extends /layout
include /_episodes

block vars
  - var podcastFeedPath = "/podcast.xml"

block title
  title UI engineering Podcast: Die Zusammenarbeit von Design und Entwicklung

block meta
  meta(name="description" content="Im UI engineering Podcast geht es um die Zusammenarbeit von Design und Entwicklung.")
  meta(name="keywords" content="uiengineering,podcast,design,frontend,entwicklung,css,styleguide,patternlibrary,atomicdesign,styletiles")

block alternate
  link(href=podcastFeedPath rel="alternate" type="application/rss+xml")

block header
  header.header.header--podcast
    h1.title Podcast

block main
  section.podcast
    .wrap.single
      h2.podcast__title Der UI engineering Podcast
      p.podcast__description Wir, das sind Dennis Reimann und Jan Persiel, setzen uns dafür ein, durch die enge Zusammenarbeit von Design und Entwicklung schneller bessere und nachhaltigere Ergebnisse zu erzielen. Im UI engineering Podcast geht es um Best Practices, Workflows und Tools die zu einem besseren Miteinander von Design und Entwicklung beitragen.
      .podcast__subscribe
        a.podcast__subscribe__button(href=podcastFeedPath target="uie-feed") Abonnieren / XML
  section
    .wrap.single
      each episodesByYear in mvb.groupedArticles.byYear
        - episodes = episodesByYear.articles
        section.episodes_group
          h2.episodes_group__title
            span.episodes_group__title__year= episodesByYear.year
            small.episodes_group__title__count &nbsp;– #{episodes.length} #{episodes.length == 1 ? "Episode" : "Episoden"}
          +episodes(episodes)
