block vars

doctype html
html(lang="de" prefix="og: http://ogp.me/ns#")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    block meta
      meta(name="keywords" content="UI engineering,Design,Development,Frontend,RWD,PatternLab,Pattern Library,Styleguide,Styletiles,Responsive,JavaScript,Elm,CSS,HTML,HTML5,Mobile")
      meta(name="description" content="Wir setzen uns dafür ein, durch die enge Zusammenarbeit von Design und Entwicklung schneller bessere und nachhaltigere Ergebnisse zu erzielen.")
    block og
      meta(property="og:type" content="website")
      meta(property="og:image" content=h.enforceScheme("http", h.assetUrl("images/share/uiengineering.png")))
      meta(property="og:image:secure_url" content=h.enforceScheme("https", h.assetUrl("images/share/uiengineering.png")))
      meta(property="og:image:width" content=460)
      meta(property="og:image:height" content=320)
    meta(property="og:locale" content="de_DE")
    meta(property="og:site_name" content="UI engineering")
    title #{title} • UI engineering
    link(href=h.assetUrl("styles/main.css") rel="stylesheet")
    link(href=h.assetUrl("images/apple-touch-icon.png") rel="apple-touch-icon")
    link(href=h.assetUrl("") rel="preconnect")
  body
    include safari-sniffer
    block body
