block vars

doctype html
html(lang="de" prefix="og: http://ogp.me/ns#")
  head
    meta(name="viewport" content="width=device-width,initial-scale=1")
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    block meta
      meta(name="keywords" content="UI engineering,Design,Development,Frontend,RWD,PatternLab,Pattern Library,Styleguide,Styletiles,Responsive,JavaScript,Elm,CSS,HTML,HTML5,Mobile")
      meta(name="description" content="Wir setzen uns dafür ein, durch die enge Zusammenarbeit von Design und Entwicklung schneller bessere und nachhaltigere Ergebnisse zu erzielen.")
    block og
      meta(property="og:type" content="website")
      meta(property="og:image" content=h.enforceScheme("http", h.assetUrl("images/share/uiengineering.png")))
      meta(property="og:image:secure_url" content=h.enforceScheme("https", h.assetUrl("images/share/uiengineering.png")))
      meta(property="og:image:width" content=460)
      meta(property="og:image:height" content=320)
    meta(property="og:locale" content="de_DE")
    meta(property="og:site_name" content="UI engineering")
    title #{title} • UI engineering
    link(href=h.assetUrl("styles/main.css") rel="stylesheet")
    link(href=h.assetUrl("") rel="preconnect")
  body
    include safari-sniffer
    block body
    if !h.isDev
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-376258-29', 'auto');
        ga('send', 'pageview');
