mixin player(episode)
  - const name = episode.title + (episode.subtitle ? `: ${episode.subtitle}` : '')
  - const title = `${name} • UI engineering Podcast`
  - const album = h.shortIdToGerman(episode.shortId)
  - const imgSize = 320
  - const imgSmall = h.podcastImageUrl(episode.imageDir, imgSize)
  - const imgLarge = h.podcastImageUrl(episode.imageDir, imgSize * 2)
  - const src = h.assetUrl(`mp3s/${episode.mp3}`)

  .player.player--single&attributes(attributes)
    img.player__cover(src=imgLarge data-amplitude-song-info="cover_art_url" data-amplitude-main-song-info="true")
    .player__bottom
      progress.player__progress.amplitude-song-played-progress(data-amplitude-main-song-played-progress="true")

      .player__time
        span.player__current-time
          span.player__current-minutes.amplitude-current-minutes(data-amplitude-main-current-minutes="true")
          = ':'
          span.player__current-seconds.amplitude-current-seconds(data-amplitude-main-current-seconds="true")

        span.player__duration
          span.player__duration-minutes.amplitude-duration-minutes(data-amplitude-main-duration-minutes="true")
          = ':'
          span.player__duration-seconds.amplitude-duration-seconds(data-amplitude-main-duration-seconds="true")

      .player__controls
        .player__button.amplitude-play-pause(data-amplitude-main-play-pause="true" id="play-pause")
        .player__info
          .player__name(data-amplitude-song-info="name" data-amplitude-main-song-info="true")
          .player__album(data-amplitude-song-info="album" data-amplitude-main-song-info="true")
          //- .player__artist(data-amplitude-song-info="artist" data-amplitude-main-song-info="true")

  script.
    window.UIengineering = {
      amplitude: {
        songs: [
          {
            "name": "#{name}",
            "artist": "Jan Persiel & Dennis Reimann",
            "album": "#{album}",
            "url": "#{src}",
            "cover_art_url": "#{imgLarge}"
          }
        ]
      }
    };
  script(src=h.assetUrl("scripts/main.js") defer)
